<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<title>Map of <%- mapName %></title>
</head>

<body>
	<div class="map-container">
		<img src="/images/<%- mapFile %>" alt="Map of <%- mapName %>" id="map">
		<img src="/images/timeline.png" alt="Timeline" id="timeline">
		<% for(var i=0; i<markers.length; i++) { %>
			<% var m = markers[i]; %>
			<div class="icon" data-x="<%- m.x %>" data-y="<%- m.y %>">
				<img src="/images/tiles/<%- m.icon %>.png" id="marker-<%- i %>">
				<p><%- m.text %></p>
			</div>
		<% } %>
	</div>
	<script>
		function loadMarkers() {
			var $map = $("#map");
			$(".icon").each(function(i){
				var left = $(this).data("x") * $map.width() - 25;
				var top = $(this).data("y") * $map.height() - 25;
				console.log(left);
				console.log(top);
				$(this).offset({
					left: left,
					top: top,
				});
			});
		}

		function resizeMap() {
			var $map = $("#map");
			var windowRatio = $(window).width()/$(window).height();
			if (windowRatio > 1.5) {
				$("#map").height($(window).height());
			}
		}

		function recalibrate() {
			resizeMap();
			loadMarkers();
		}

		window.addEventListener('resize', recalibrate);
		window.onload = function() {
			recalibrate();
		};
	</script>
</body>
</html>